 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div  class="user-details">
    <h1>Research Interests</h1>
  </div>
  <div class="user">
    <div class="tech">
      <h2>Robot Navigation</h2>
      <p>Methods for robots navigating through harsh environments. A major interest is planetary rover navigation.</p>
    </div>
    <div class="tech">
      <h2>Planning under uncertainty</h2>
      <p>Planning problems where states are incomplete or have incorrect information.</p>
    </div>
    <div class="tech">
      <h2>Sensor based planning</h2>
      <p>Planning problems where robots are outfitted with various sensors that can provide noisy data.</p>
    </div>
</div>
